*{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: url('cursor/Black\ White\ Normal\ Select.cur'), auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.wallpaper{
    background-image: url('https://cdn.discordapp.com/attachments/901516146841358407/1008863066051575888/Depositphotos_107918956_S.jpg') ;
    
}

.test{
    background-color: #f4f2f0b3;
    margin: 0 auto;
    padding: 65px;
    
}

.logo{
    max-width: 300px;
    max-height: auto;
}

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 120px;
    margin-right: 120px; */ /*margin made the text look a bit squished on mobile*/
    font-size: 25px;
}

#tab{
    text-indent: 5%;
}

.listing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgba(238, 224, 172, 0.461);
border-radius: 30px;
row-gap: 25px;
    padding-bottom: 50px;
    padding-top: 30px;
    
}

.link{
    font-size: 25PX;
    cursor: url('cursor/Black\ White\ Link\ Select.cur'), auto

}

.picture {
    flex-direction: row;
    max-width: 200px;
    max-height: auto;
}



.customIntro{
    font-size: 25px;
    display: flex;
    align-content: center;
}

/*Custom Cakes Showcase Section*/

.cakes{
    max-width: 300px;
    max-height: auto;
    
}

.nameplate{
    background-color: rgba(238, 224, 172, 0.461);
    font-weight: bold;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    margin-top: 95px;
    display: grid;
    grid-template-columns: 100px 150px 100px;
    text-align: center;
    column-gap: 190px;
    row-gap: 250px;
    align-items: center;  
    padding-bottom: 150px;
    border: 50px;
  }
  .column {
    padding: 16px;
    height: 250px;
    margin: 16px;
    
  }

  /* leads to custom form page*/
  .customlink{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-style: italic;
    align-content: center;
    justify-content: center;
    padding-bottom: 100px
    
  }

  /*Create Social Links for Facebook and instagram*/

  @import url('https://fonts.googleapis.com/css?family=PT+Sans');



.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 500px;
  
	
}

.icon-btn{
	height: 75px;
	width: 75px;
	border: 0;
	color: rgb(243, 243, 243);
	cursor: url('cursor/Black\ White\ Link\ Select.cur');
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: rgb(243, 243, 243);
}



.facebook {
	color: #3B5998;
    cursor: url('cursor/Black\ White\ Link\ Select.cur')
}


.instagram {
	color: #cd486b;
    cursor: url('cursor/Black\ White\ Link\ Select.cur')
}




.facebook:hover {
	background-color: #c4d3f4;	
}

.instagram:hover {
	background-color: #c4d3f4;
}

a.links {
	color: inherit;	
    text-decoration: dashed none;
}