*{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: url('cursor/Black\ White\ Normal\ Select.cur'), auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.wallpaper{
    background-image: url('https://cdn.discordapp.com/attachments/901516146841358407/1008863066051575888/Depositphotos_107918956_S.jpg') ;
    
}

.test{
    background-color: #f4f2f0b3;
    margin: 0 auto;
    padding: 65px;
    margin-top: 250px;
    
}

h1{
    font-style: italic;
}

.thankyou{
    font-style: italic;
    font-size: 25px;
    display: flex;
    align-content: center;
}

.link{
    font-size: 25PX;
    cursor: url('cursor/Black\ White\ Link\ Select.cur'), auto

}

/*Create Social Links for Facebook and instagram*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');



.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 500px;
  
	
}

.icon-btn{
	height: 75px;
	width: 75px;
	border: 0;
	color: rgb(243, 243, 243);
	cursor: url('cursor/Black\ White\ Link\ Select.cur');
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: rgb(243, 243, 243);
    
}



.facebook {
	color: #3B5998;
    cursor: url('cursor/Black\ White\ Link\ Select.cur')
}


.instagram {
	color: #cd486b;
    cursor: url('cursor/Black\ White\ Link\ Select.cur')
}




.facebook:hover {
	background-color: #c4d3f4;	
}

.instagram:hover {
	background-color: #c4d3f4;
}

a.links {
	color: inherit;	
    text-decoration: dashed none;
}
